body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-image: url("./util/images/newspaper_background.jpg");
  background-repeat: repeat;
  
}

.container {
  padding: 20px 20px 0px 20px;
  background-color: white;
}